* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
}

main {
  display: grid;
  gap: 30px;
  place-items: center;
  margin: auto;
  background-color: #242424;
  color: #ffffff;
  padding: 50px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

button {
  width: 80px;
  height: 30px;
  margin-inline: 7px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#count-el {
  font-size: 3rem;
  margin-block: 10px;
  width: 90%;
  height: 80px;
  line-height: 80px;
  background-color: lightslategray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#increment-btn {
  background-color: red;
}

#save-btn {
  background-color: green;
}

#reset-btn {
  background-color: blue;
}
